#container {
    margin-top: 5%;
}

.flow {
    height: 80vh;
    width: 100%;
    margin-top: 10%;
}

.flow .sidebar {
    height: 80vh;
    width: 100%;

}

.vertical-scroll {
    height: 100%;
    scrollbar-width: none;
    overflow-y: scroll;
}

.vertical-scroll:hover {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

.sticky {
    height: 0px;
    position: sticky;
    top: 0;
}